@import "../../index.scss";

.features {
  grid-column: centre-start/centre-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;

  @include mediaQuery(tablet) {
    margin: 8rem 0;
  }
}

.feature {
  display: grid;
  gap: 2rem;
  &__text {
    font-size: 1.6rem;
  }
}
