@import "./index.scss";

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [centre-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [centre-end] minmax(6rem, 1fr) [full-end];

  @include mediaQuery(tab-land) {
    grid-template-rows: 6rem 80vh repeat(5, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [centre-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [centre-end] minmax(6rem, 1fr) [full-end];
  }

  @include mediaQuery(tablet) {
    grid-template-rows: 6rem calc(100vh - 6rem) repeat(6, min-content);
  }
}
